    <footer>
        Made by <a href="http://koenklaren.nl/" title="Koen Klaren">Koen Klaren</a>
        <span class="separator">&middot;</span>
        Hosted by <a href="http://luke.carrier.im/" title="Luke Carrier">Luke Carrier</a>
    </footer>
</body>
</html>