<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= typeof title != "undefined" ? title + " | " : "" %>Remmon</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300">
    <link rel="stylesheet" href="/css/style.css">

    <% if (typeof scripts != "undefined") { scripts.forEach(function (src) { %>
        <script src="<%- src %>"></script>
    <% }) } %>
</head>
<body>